[submodule "FunnyMaps.Client"]
	path = FunnyMaps.Client
	url = https://github.com/coder-estnefo/FunnyMaps.Client.git
[submodule "FunnyMaps.Server"]
	path = FunnyMaps.Server
	url = https://github.com/coder-estnefo/FunnyMaps.Server.git
